[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = US
ST = VA
L = Oakland 
O = Andy
OU = Tisdall
CN = www.andytisdall.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.andytisdall.com
DNS.2 = andytisdall.com
DNS.3 = andytisdall.net