doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
    style
        include ../static/style.css
    title Sign Up
body
if errorMessage
    div(class='error') #{errorMessage}
div(class="container")
    h1 Sign Up
    form(class="signin" method="POST" action="/signup")
        label(for="username") Username
        input(type="text" id="name-input" name="username" required="true")
        label(for="password") Passwyrd
        input(type="password" name="password" required="true")
        button(type="submit" class="signin-submit") Sign Up
script
    include ../static/signin.js