body {
  background-color: rgb(56, 56, 56);

  color: rgb(151, 235, 68);
  font-family: 'Fira Sans', sans-serif;
  margin: 2rem;
}

.upload-container {
  max-width: 65rem;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

select {
  margin: 0.2rem;
}

.upload-progress {
  position: fixed;
  height: 500px;
  width: 500px;
  border: 3px solid orange;
  display: flex;
  margin-left: 18rem;
  margin-top: 10rem;
}

.upload-image {
  color: orangered;
  font-size: 3.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.upload-image p {
  padding: 30px;
}

.windmill {
  margin: auto;
}

p {
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
}

.error {
  color: rgb(20, 1, 100);
  background-color: rgb(230, 142, 142);
  padding: 1rem;
  border: 2px solid white;
}

.container {
  max-width: 65rem;
}

hr {
  border-color: rgb(151, 235, 68);
  text-align: left;
  margin-left: 0;
}

/* Mp3 player */

.playcontainer {
  margin-left: 1rem;
  margin-top: 0.3rem;
  width: 50%;
}

.player {
  margin: 0px;
  width: 500px;
  height: 30px;
  display: block;
}

/* input elements */

.edit {
  font-size: small;
  color: rgb(235, 190, 132);
}

.add {
  font-size: small;
  color: rgb(94, 235, 245);
  padding-left: 1rem;
}

.addbox {
  height: 100;
  width: 150px;
  position: absolute;
  border: 1px solid rgb(94, 235, 245);
  background-color: black;
  margin-top: 1.3rem;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
}

.tier-add {
  margin-left: -50px;
}

.delete {
  color: red;
  font-size: 0.8rem;
  padding-left: 1rem;
}

input {
  width: 7rem;
  margin-top: 0.5rem;
}

.inputfile {
  width: 300px;
}

h1 {
  font-size: 2rem;
  margin: 10px;
  color: white;
}

/* tier */

.row {
  padding-right: 10px;
  padding-bottom: 10px;
  /* background: radial-gradient(
    rgba(128, 128, 128, 0),
    rgba(255, 255, 255, 0.281)
  ); */
}

.marqee {
  display: flex;
  justify-content: space-between;
}

.tier {
  margin-left: 2rem;
}

h2 {
  font-size: 1.7rem;
  padding-left: 1rem;
  margin: 0px;
  color: rgb(235, 155, 118);
}

.arrow {
  width: 30px;
}

.tier-display {
  display: flex;
  margin-top: 0.5rem;
}

.song-count {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

/* title */

.titlecontainer {
  margin-bottom: 1rem;
}

.title-margin {
  margin-left: 4rem;
  padding-left: 1rem;
  border-bottom: rgb(151, 235, 68) solid 1px;
  border-left: rgb(151, 235, 68) solid 1px;
}

.name-spot {
  width: 160px;
  color: rgb(224, 222, 52);
}

h3 {
  font-size: 1.2rem;
  margin: 0px;
  margin-top: 0.5rem;
}

.row-name {
  display: flex;
}

.notitle {
  margin-left: 4rem;
  color: rgb(218, 122, 241);
  border-left: solid 1px chartreuse;
  padding-left: 1rem;
}

/* version */

.versioncontainer {
  margin-top: 1rem;
  margin-left: 3rem;
  display: flex;
  color: rgb(248, 147, 240);
}

.add-version {
  height: 230px;
}

.version-info {
  width: 400px;
}

.noversion {
  padding-bottom: 1rem;
}

.info-buttons {
  display: flex;
  padding: 1rem;
}

.info-header {
  display: flex;
}

.note-box {
  margin-left: 25px;
  border: solid white 1px;
  padding-left: 5px;
  padding-right: 5px;
  height: 120px;
  width: 150px;
  line-height: 120%;
}

.info-name {
  background-color: rgba(30, 255, 0, 0.151);
  padding: 0.4rem;
  width: 160px;
  height: 110px;
}

.notes {
  font-size: 0.8rem;
}

.selector {
  line-height: 140%;
}

h4 {
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

/* song */

.song-con {
  justify-content: space-between;
  color: rgb(224, 222, 52);
  line-height: 100%;
  border-left: 1px solid rgb(241, 131, 149);

  padding-left: 2rem;
}

.calendar {
  width: 130px;
}

h5 {
  font-size: 1rem;
  margin-top: 0.3px;
  margin-bottom: 0.7rem;
  line-height: 120%;
}

.nosong {
  margin-left: 3rem;
}

.bounce {
  height: 250px;
  width: 300px;
}

/*  hidden */

.hidden {
  display: none;
}
