@media (max-width: 650px) {
  body {
    font-size: 1rem;
    max-width: 100%;
  }

  /* INPUT */

  .add,
  .delete {
    font-size: 1rem;
    padding-left: 0.6rem;
  }

  .text-input {
    padding: 2px;
  }

  select {
    padding: 0;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  .submit-button,
  .modal-button {
    font-size: 1.1rem;
  }

  /* LAYOUT */

  .container {
    padding: 0px;
    max-width: 100%;
  }

  img {
    height: 0.8rem;
  }

  .arrow {
    height: 20px;
    width: 15px;
  }

  /* ERROR */

  .error {
    font-size: 1rem;
    width: 75%;
  }

  .error-margin {
    padding-top: 5rem;
  }

  /* PLAYBAR */

  .playbar {
    width: 98%;
  }

  .playbar-background {
    height: 6rem;
  }

  .playbar-title {
    margin-left: 0;
    width: 55%;
  }

  .playbar-title p {
    font-size: 1.7rem;
  }

  .playbar-header {
    padding-bottom: 0.2rem;
  }

  .big-play-container {
    width: 30%;
    min-width: 8rem;
  }

  .volume-container {
    padding-top: 0.5rem;
    width: 150px;
  }

  .playbar-info {
    flex-direction: column;
    justify-content: space-around;
  }

  .playbar-info-detail {
    margin-bottom: 0.5rem;
  }

  .playbar-info-detail p {
    font-size: 0.9rem;
  }

  .audio-controls {
    height: 1.5rem;
  }

  /* HEADER */

  .header {
    padding-top: 0.5rem;
    width: 100%;
  }

  .menu {
    flex-direction: column;
    left: -2rem;
    top: 1.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .volume-container {
    display: none;
  }

  /* MAIN */

  .section-title {
    font-size: 1.5rem;
  }

  h2 {
    padding-top: 0.5rem;
    font-size: 1.3rem;
  }

  /* TIER */

  .marqee {
    padding-bottom: 1px;
  }

  .tier {
    padding-top: 0;
    margin-left: 0.3rem;
  }

  .tier-count {
    width: 45%
  }

  .tier-options {
    margin: 0 2rem;
  }

  .order-by {
    font-size: 0.8rem;
  }

  /* TITLE */

  h3 {
    padding-left: 5px;
    font-size: 1.1rem;
  }

  .title-margin {
    margin-left: 0.6rem;
    padding-left: 0.2rem;
  }

  .tier-display {
    margin: 0;
  }

  /* PLAYCONTAINER */

  .play-container-time {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }

  .play-icon {
    margin-right: 0.5rem;
    height: 1.6rem;
  }

  .play-container-display {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
  }

  .play-container-display p {
    font-size: 0.8rem;
    width: 100%;
  }

  /* VERSION */

  .detail-box-between {
    margin: 0
  }

  .record-link {
    font-size: 0.45rem;
    height: 2.3rem;
    width: 2.3rem;
  }

  .version-arrow {
    font-size: 0rem;
    padding: 3px;
  }

  .detail-box {
    padding: 0.8rem;
    width: 40%;
  }

  .detail-content {
    margin-bottom: 0.75rem;
  }

  .detail-header {
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  .detail-buttons {
    margin-top: 0.3rem;
  }

  .dropbtn {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .detail-notes {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }

  .detail-notes-title {
    font-size: 0.8rem;
  }

  .current,
  .latest {
    font-size: 0.4rem;
  }

  /* PLAYLIST */

  .song-position p {
    font-size: 0.8rem;
    padding-top: 0.7rem;
  }

  .playlist-update {
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    justify-content: start;
    width: 25%;
    margin-left: 2.5rem;
  }

  .playlist-update-btn {
    width: 0.6rem;
    height: 0.5rem;
    margin-left: 0.1rem;
  }

  /* HOME */

  .band-item h2 {
    font-size: 1.8rem;
  }

  /*  HELP */

  .help {
    width: 90%;
    margin: 1rem;
    margin-bottom: 4rem;
  }

  .help p {
    font-size: 1.3rem;
  }

  .help h2 {
    font-size: 1.7rem;
  }

  .help h3 {
    font-size: 1.5rem;
  }

  /*  SPINNER */

  .sk-circle-fade {
    width: 1.3rem;
    height: 1.3rem;
  }
}
