html {
  width: 100%;
}

body {
  background-color: rgb(56, 56, 56);
  color: rgb(151, 235, 68);
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
}

.container {
  max-width: 65rem;
  margin: 0.7rem;
  margin-top: 0px;
}

img {
  height: 1rem;
  width: auto;
  margin: 0rem;
}

.windmill {
  height: 120px;
  width: 100px;
}

.playbar-background {
  z-index: 9;
  background-color: rgb(56, 56, 56);
  position: fixed;
  height: 5rem;
  width: 100%;
}

.playbar {
  height: 5rem;
  background-color: rgb(24, 24, 24);
  border: 1px pink solid;
  color: pink;
  padding: 0.3rem;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 98%;
  max-width: 65rem;
  position: fixed;
  z-index: 10;
}

.playbar-title {
  width: 33%;
  font-size: 1.7rem;
  color: rgb(235, 155, 118);
}

.pausebutton {
  height: 35px;
}

.unpause {
  height: 35px;
}

.centered-button {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.pause-container {
  padding-top: 0.2rem;
  width: 33%;
  display: flex;
  justify-content: space-around;
}

.playbar-header {
  display: flex;
  height: 40%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.playbar-info {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.playbar-info p {
  margin-left: 1.5rem;
}

.playslidercontainer {
  width: 100%;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
}

.playslidertime {
  width: 60px;
  padding: 5px 10px;
  color: rgb(151, 235, 68);
}

.playslider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ffd900;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.playslider:hover {
  opacity: 1;
}

.playslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: #000000;
  cursor: pointer;
}

.playslider::-moz-range-thumb {
  width: 5px;
  height: 15px;
  background: #000000;
  cursor: pointer;
}

.pausebutton {
  height: 35px;
}

.unpause {
  height: 35px;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

select {
  margin: 0.2rem;
}

.upload-container {
  margin-top: 5rem;
  display: flex;
}

.upload-progress {
  margin: auto;
  border: 3px solid orange;
  display: flex;
}

.upload-image {
  font-size: 3.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.upload-image p {
  padding: 30px;
}

.windmill {
  margin: auto;
}

p {
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
}

.error {
  color: rgb(20, 1, 100);
  background-color: rgb(230, 142, 142);
  padding: 1rem;
  border: 2px solid white;
}

hr {
  border-color: rgb(151, 235, 68);
  text-align: left;
  margin: 0;
}

/* input elements */

.add {
  font-size: small;
  color: rgb(94, 235, 245);
  padding-left: 1rem;
}

.add-form {
  margin-top: 1rem;
}

.title-add {
  display: flex;
}

.addbox {
  height: 100;
  width: 150px;
  position: absolute;
  border: 1px solid rgb(94, 235, 245);
  background-color: black;
  margin-top: 1.3rem;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
  margin-left: -8rem;
}

.tier-add {
  margin-left: -50px;
}

.delete {
  color: rgb(94, 235, 245);
  font-size: 0.8rem;
  padding-left: 1rem;
}

input {
  width: 7rem;
  margin-top: 0.5rem;
}

.inputfile {
  width: 300px;
}

h1 {
  font-size: 1.8rem;
  margin: 10px;
  color: white;
}

.addtier {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0px;
}

.band-name {
  display: flex;
  align-items: center;
  width: 30%;
}

.menu-button {
  display: flex;
  width: 200px;
}

.menu {
  display: none;
}

.menu a {
  color: rgb(255, 106, 230);
  font-size: 0.75rem;
  padding-left: 1rem;
}

.menu-button:hover .menu {
  display: flex;
}

/* tier */

.row {
  padding-right: 10px;
  padding-top: 7px;
  min-width: 500px;
  /* background: radial-gradient(
    rgba(128, 128, 128, 0),
    rgba(255, 255, 255, 0.281)
  ); */
}

.tier-name {
  align-items: center;
  width: 40%;
  display: flex;
}

.marqee {
  display: flex;
  padding-bottom: 0.2rem;
}

.header {
  padding-top: 6rem;
  padding-bottom: 0px;
  justify-content: space-between;
}

.tier {
  padding-top: 0.3rem;
  margin-left: 2rem;
}

h2 {
  font-size: 1.4rem;
  padding-left: 1rem;
  margin: 0px;
  color: rgb(235, 155, 118);
}

.arrow {
  height: 35px;
}

.tier-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

.tier-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
}

.song-count {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.tier .marqee {
  /* background-color: rgba(137, 43, 226, 0.582); */
}

/* title */

/* .title .marqee {
  /* background-color: rgba(67, 188, 204, 0.623); */

.title-margin {
  margin-left: 3rem;
  padding-left: 1rem;
  border-bottom: rgb(151, 235, 68) solid 1px;
  border-left: rgb(151, 235, 68) solid 1px;
}

.name-spot {
  color: rgb(224, 222, 52);
}

h3 {
  padding-left: 1rem;
  font-size: 1.2rem;
  margin: 0px;
}

.row-name {
  align-items: center;
  width: 40%;
  display: flex;
}

.playcontainer {
  display: flex;
  min-width: 60%;
  align-items: center;
}

.songtime {
  margin-right: 1rem;
}

.title-display {
  display: flex;
  justify-content: space-between;
}

.title-display p {
  margin-left: 1rem;

  font-size: 0.8rem;
}

.notitle {
  margin-left: 4rem;
  color: rgb(218, 122, 241);
  border-left: solid 1px chartreuse;
  border-bottom: solid 1px chartreuse;
  padding-left: 1rem;
  padding-top: 1rem;
}

.playicon {
  height: 1.3rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.download img {
  padding-top: 10px;
  height: 17px;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

/* version */

.version-container {
  margin-top: 0.5rem;
  margin-left: 5rem;
  display: flex;
  color: rgb(248, 147, 240);
}

.add-version {
  height: 260px;
}

.noversion {
  padding-bottom: 0.5rem;
  display: flex;
}

.detail-box {
  width: 50%;
  border: solid white 1px;
  padding: 0.7rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-content {
  display: flex;
  padding-bottom: 1.2rem;
}

.detail-header {
  width: 100%;
}

.detail-notes {
  margin-top: 0.7rem;
  margin-left: 2rem;
  font-size: 0.8rem;
}

.detail-buttons {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  width: 100%;
}

.dropbtn {
  background-color: #76cdff;
  color: rgb(5, 0, 0);
  padding: 0.5rem;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-link {
  color: black;
  padding: 0.5rem;
  display: block;
}

.dropdown-link:hover {
  background-color: #fcc4c4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.selector {
  line-height: 140%;
}

.empty {
  padding-bottom: 2rem;
}

/* song */

.calendar {
  width: 130px;
}

h5 {
  font-size: 1rem;
  margin-top: 0.3px;
  margin-bottom: 0.7rem;
  line-height: 120%;
}

.nosong {
  margin-left: 3rem;
}

.bounce {
  height: 275px;
  width: 300px;
}

/*  hidden */

.hidden {
  display: none;
}

.slidecontainer {
  padding-top: 1rem;
  width: 30%;
  padding-right: 0.4rem;
}

.master-volume {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #cecece;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.master-volume:hover {
  opacity: 1;
}

.master-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #83cac4;
  cursor: pointer;
}

.master-volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #83cac4;
  cursor: pointer;
}

.signin {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 2rem;
}

.signin-submit {
  margin-top: 1rem;
  width: 100px;
}

.band-list {
  margin: 3rem;
}

.add-band {
  margin: 0px;
  margin-top: 3rem;
  width: 200px;
}

.playlists {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.playlists h2 {
  font-size: 1.3rem;
  color: rgb(82, 236, 236);
}

.song-position {
  font-size: 1rem;
  width: 1rem;
}

.dimmer {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

.modal-active {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  opacity: 1;
}

.modal-box-active .container {
  filter: blur(5px) grayscale(90%);
}

.modal-box {
  position: absolute;
  top: 30%;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border: #34af49 2px solid;
  width: 200px;
  padding: 10px;
  height: 100px;
}

.submit-button {
  color: white;
  font-size: medium;
  background-color: grey;
  border: cornflowerblue 1px solid;
  margin: 10px;
  padding: 10px;
}

@media (max-width: 700px) {
  body {
    font-size: 0.7rem;
    max-width: 100%;
  }

  .playbar {
    padding-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 4rem;
    width: 96%;
  }

  .download img {
    height: 12px;
    margin-left: 1rem;
  }

  .playbar-title {
    font-size: 1rem;
  }

  .playbar-header {
    padding-bottom: 0.2rem;
  }

  .playbar-info {
    display: inline;
  }

  .playbar-info p {
    margin: 0px;
    margin-left: 2rem;
    font-size: 0.7rem;
  }

  .slidecontainer {
    padding-top: 0.3rem;
    width: 150px;
  }

  .container {
    padding: 0px;
    max-width: 100%;
  }

  .header {
    height: 2.3rem;
  }

  .row {
    padding-top: 5px;
    padding-bottom: 0px;
    min-width: 90%;
    max-width: 100%;
  }

  .notitle {
    margin-left: 1rem;
  }

  img {
    height: 0.6rem;
  }

  h1 {
    font-size: 1rem;
  }

  .arrow {
    height: 20px;
    width: 15px;
  }

  h2 {
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  .marqee {
    padding-bottom: 1px;
  }

  .tier {
    margin-left: 0.3rem;
  }

  .tier-display {
    margin-left: 0.5rem;
  }

  h3 {
    padding-left: 5px;
    font-size: 0.8rem;
  }

  .title-margin {
    margin-left: 0.6rem;
    padding-left: 0.2rem;
  }

  .tier-count {
    width: 200px;
  }

  .playcontainer {
    min-width: 50%;
  }

  .title-display {
    margin-right: 5px;
  }

  .title-display p {
    margin: 5px;
    font-size: 0.5rem;
  }

  .playicon {
    width: 20px;
  }

  .versioncontainer {
    display: block;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
  }

  .detail-box {
    width: auto;
    padding: 0.5rem;
  }

  .detail-header {
    display: flex;
  }

  h5 {
    font-size: 0.75rem;
  }

  .detail-content {
    display: block;
    padding-bottom: 0.3rem;
  }

  .dropdown {
    margin-left: 1rem;
  }

  .dropbtn {
    font-size: 0.5rem;
  }

  .detail-notes {
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .left-box {
    margin-left: -3rem;
  }

  .song-count {
    margin-left: 1rem;
  }

  .playlists h2 {
    font-size: 1rem;
    color: rgb(82, 236, 236);
  }

  .pausebutton {
    height: 25px;
    padding-top: 0.2rem;
  }

  .unpause {
    height: 25px;
    padding-top: 0.2rem;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 400px) {
  .playbar {
    width: auto;
  }

  h1 {
    font-size: 0.7rem;
  }

  h2 {
    padding-top: 0.5rem;
    font-size: 0.7rem;
  }

  h3 {
    padding-left: 5px;
    font-size: 0.7rem;
  }

  img {
    height: 0.5rem;
  }

  .title-display {
    margin-right: 5px;
  }

  .playcontainer {
    margin-left: 10px;
  }

  .songtime {
    font-size: 0.2rem;
  }

  .title-display p {
    font-size: 0.2rem;
  }

  .tier-name {
    width: 100%;
  }

  .playlists h2 {
    font-size: 0.7rem;
    color: rgb(82, 236, 236);
  }
}
